.external{
    padding:45%;
    border-collapse:collapse;
    border:2px solid black;
    text-align:center;
    margin-bottom:20px;
}
#kk{
    background-color: #838060
}
#aa{
    background-color:##dbceb0
}